@font-face{
    font-family: "Abel";
    src: url('/project_4.WorldToureweb/fonts/Abel/Abel-Regular.ttf');
}

@font-face{
    font-family: "Livvic";
    src: url('/project_4.WorldToureweb/fonts/Livvic/Livvic-Regular.ttf');
}

@font-face{
    font-family: "Lexend";
    src: url('/project_4.WorldToureweb/fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

@font-face{
    font-family: "Anton";
    src: url('/project_4.WorldToureweb/fonts/Anton/Anton-Regular.ttf');
}